{% extends "base.html" %}
{% block content %}
<h2>Hakusivu:</h2>

  {% if user_logged_in %}
    <h4>Tervetuloa {{user_logged_in.username}} </h4>
 {%endif%}


<h2>Valitse mitä haet ja täytä hakukentät</h2>

<form method="post" action="{{base_path}}/hakusvu">  
    
    
    <div class="form-group">
        <label for="hakuvalinta">Valitse hakutekijä:</label>
        
        <select class="form-control" id="hakuvalinta"> 
            <option>haen omat matkani</option>
            <option value="">kaikki matkat tietystä maasta</option>
            <option>suomalaiset yhdestä maasta</option>
            <option>suomalaiset, jotka ovat nyt matkalla</option>
        </select>
    </div>
            <!--täytetään alasvetovalikko-->
        <select required name="country">
        {% for maa in maat%}
        <option value="{{maa.country}}">{{maa.country}}</option> 
        {% endfor%}
    </select>
     <br> <br>
    
  

        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Hae</button>

        </div>

<iframe
  width="1200"
  height="400"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDHQ8CLBVpDDiF_dOljWU0tOqgYhh8fXp8&q=Restaurants+near+Paris" allowfullscreen>
</iframe>
</form>


{% endblock %}
