{% extends "base.html" %}
{% block content %}
<h2>Syötä henkilötiedot:</h2>
<!-- Painikkeet tähän 

<h3>Painikkeet:</h3>
<button class="btn btn-info">Hae</button>
<button class="btn btn-default">Lisää</button>
<button class="btn btn-primary">Muokkaa</button>
<button class="btn btn-success">Tallenna</button>
<button class="btn btn-danger">Poista</button>-->
<form method="post" action="{{base_path}}/henkilo">  
    <div class="form-group"> 
        <h4>Tähdellä (*) merkityt kohdat ovat pakollisia</h4>

        <div class="form-group">
            <label>Etunimet*</label>
            <input name ="firstnames" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Sukunimi*</label>
            <input name ="familyname" class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>Syntymäaika*</label>
            <input name=" dateofbirth"  class="form-control" type="date">
        </div>




        <div class="form-group">
            <label>Sukupuoli</label><br>
            
            <!-- <input name ="gender" type="text" id="result" class="form-control"> -->
            <input type="radio" name="gender" value="Mies">  Mies<br>
            <input type="radio" name="gender" value="Nainen">  Nainen<br>
            <input type="radio" name="gender" value="En ilmoita"> En ilmoita<br>


        </div>
        <script>
            function myFunction(browser) {
                document.getElementById("result").value = browser;
            }
        </script>

        <script>
            function sukupuoli() {
                var x = document.getElementById("radio").value;
                document.getElementById("demo").innerHTML = x;
            }
        </script>
        <h4>Kansalaisuus*</h4>

        <select required name="nationality">
            {% for maa in maat%}
            <!--  <option value="{{maa.id}}">{{maa.country}}</option> -->
            <!--  <option value="{{henkilo.nationality}}">{{maa.country}}</option> -->
            <option value="{{maa.country}}">{{maa.country}}</option> 


            {% endfor%}
        </select>
        <br><br>
        <div class="form-group">
            <label>Matkapuhelin</label>
            <input name ="mobilephone" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>sähköposti</label>
            <input name="email" type="text" class="form-control">
        </div>
            <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
        <label>Käyttäjätunnus</label>
        <input name="username" class="form-control" type="text">
    </div>
        
        <div class="form-group">
            <label>salasana</label>
            <input name =" password" type="password" class="form-control">
        </div>
        <br>


        <div class="form-group">
            <input type="checkbox" name="administrator" value="y">Administrator<br>
        </div>

        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Tallenna</button>
            <!--onclick="alert('Hello World!')">Click Me!</button>-->
        </div>

        <div class="alert alert-success">
            {{"Tallennus onnistui!"}}
        </div>
</form>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li>Kun haet tietoja, täytä haluamasi kohdat ja paina Hae-painiketta</li>
    <li>Kun lisätä tietoja, täytä haluamasi kohdat ja paina Lisää-painiketta</li>
    <li>Kun haluat muokata tietoja, hae muokattavat tiedot,täytä haluamasi kohdat ja paina Tallenna-painiketta</li>
    <li>Kun haluat poistaa tietoja, hae ensin tiedot ja paina Poista-painiketta</li>

</ul>
<!-- Kuvaus tulee tähän -->
<p>
    Kuvaus tähän...
</p>
{% endblock %}
