{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  <h3>Valitse muokattava tai poistettava henkilo alla olevasta listasta:</h3>

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
 
    <!-- Tekstikenttä käyttäjätunnukselle -->
 <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Etunimet</th>
        <th>Sukunimi</th>
        <th>Syntymäaika</th>
        <th>Sukupuoli</th>
        <th>Kansalaisuus</th>
        <th>Matkapuhelinnumero</th>
        <th>Sähköposti</th>
        <th>Käyttäjätunnus</th>
        <th>Salasana</th>
        <th>Pääkäyttäjä</th>
        <th>Muokkaa</th>
        <th>Poista</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan maat tähän -->
      {% for henkilo in henkilo%}
      <tr>
        <!--<td><a href="{{base_path}}/matkalistaus/{{matkakohde.id}}">matka</a></td>-->
        <td>{{henkilo.id}}</td>
        <td>{{henkilo.firstnames}}</td>
        <td>{{henkilo.familyname}}</td>
        <td>{{henkilo.dateofbirth}}</td>
        <td>{{henkilo.gender}}</td>
        <td>{{henkilo.nationality}}</td>
        <td>{{henkilo.mobilephone}}</td>
        <td>{{henkilo.email}}</td>
        <td>{{henkilo.username}}</td>
        <td>{{henkilo.password}}</td>
        <td>{{henkilo.administrator}}</td>


        <td> <a href="{{base_path}}/muokkaahenkiloa/{{henkilo.id}}" class="btn btn-default" role="button">Muokkaa</a></td>
       <!-- Poistetaan henkilö ilman varmistuksia-->
     <td>{{forms.destroy_button("#{base_path}/henkilo/#{henkilo.id}")}}</td>

            </tr>
      {%endfor%}
    </tbody>
  </table>

  
{% endblock %}


