{% extends "base.html" %}
{% block content %}


<h1> Kirjaudu sisään</h1>
<!-- Kaikki lomakkeen elementit form-tagin sisään -->
<form method="post" action={{base_path}}/kirjaudu>  

    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
        <label>Käyttäjätunnus (pituus 4-20 merkkiä)</label>
        <input type="text" class="form-control" name="username" value ="{{username}}"  >
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
        <label>Salasana (pituus 8-20 merkkiä)</label>
        <input type="password" class="form-control" name = "password" >
    </div>

    <div class="container">
        <button type="submit" class="btn btn-success">Kirjaudu sisään</button>

        <a href="{{base_path}}/luouusikayttaja" class="btn btn-info" role="button">Rekisteröidy</a>
    </div>     

</form>

{% endblock %}


