{% extends "base.html" %}
{% block content %}
  <h1>Tervetuloa matkailmoitussivulle!</h1>

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form>
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Mitä haluat tehdä?</label>
     
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Hakea?</label>
      <label>lisätä?</label>
      <label>Muokata?</label>
      <label>Poistaa?</label>
      
    </div>

    <button type="submit" class="btn btn-primary">Painike</button>
  </form>
{% endblock %}