{% extends "base.html" %}
{% block content %}
  <h3>Valitse muokattava tai poistettava matka alla olevasta listasta:</h3>

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form>
    <!-- Tekstikenttä käyttäjätunnukselle -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Maa</th>
        <th>Saapumispäivä</th>
        <th>Lähtöpäivä</th>
        <th>Osoite</th>
        <th>Postinumero</th>
        <th>Kaupunki</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan maat tähän -->
      {% for matka in matkat%}
      <tr>
        <!--<td><a href="{{base_path}}/matkalistaus/{{matkakohde.id}}">matka</a></td>-->
        <td>{{matka.country}}</td>
        <td>{{matka.arrivalDate}}</td>
        <td>{{matka.departureDate}}</td>
        <td>{{matka.address}}</td>
        <td>{{matka.postcode}}</td>
        <td>{{matka.city}}</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a>    <a class="btn btn-default btn-sm" href="#">Poista</a></th>
      </tr>
      {%endfor%}
    </tbody>
  </table>

    <button type="submit" class="btn btn-primary">Tallenna</button>
  </form>
{% endblock %}