{% extends "base.html" %}
{% block content %}
<h1>Matkan tiedot</h1>
<!-- Painikkeet tähän -->

 <h3>Valitse</h3>
  <button class="btn btn-info">Hae</button>
  <button class="btn btn-default">Lisää</button>
  <button class="btn btn-primary">Muokkaa</button>
  <button class="btn btn-success">Tallenna</button>
  <button class="btn btn-danger">Poista</button>
  <h3>Matkan tiedot:</h3>
Kohdemaa*:<br>
 <!-- <input type="text" placeholder="Etunimet"> <br>-->
   <form action="/action_page.php">
 <select name="Maat:">
<?php taytaDropDown()?>
     
</select>
--<button type="button" onclick="alert('Hello World!')">Click Me!</button>
       
</form> 
  Maahan saapuminen*:<br><input type="date" class="form-control" placeholder="pp.kk.vvvv"><br>
  Maasta poistuminen*:<br><input type="date" class="form-control"placeholder="pp.kk.vvvv"><br>
  Katuosoite*:<br><input type="text" class="form-control"placeholder="osoite"><br>
  Postinumero:<br><input type="text" class="form-control"placeholder="Postinumero"><br>
  Kaupunki tai maakunta*:<br><input type="text" class="form-control"placeholder="Kaupunki tai maakunta"><br>
  <br>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li>Kun haet tietoja, täytä haluamasi kohdat ja paina Hae-painiketta</li>
    <li>Kun lisäät tietoja, täytä haluamasi kohdat ja paina Lisää-painiketta</li>
    <li>Kun haluat muokata tietoja, hae muokattavat tiedot,täytä haluamasi kohdat ja paina Tallenna-painiketta</li>
    <li>Kun haluat poistaa tietoja, hae ensin tiedot ja paina Poista-painiketta</li>
    
</ul>
<!-- Kuvaus tulee tähän -->
<p>
   Kuvaus tähän...
</p>
{% endblock %}