{% extends "base.html" %}
{% block content %}

<h3>Tervetuloa {{user_logged_in.username}}</h3>
<h4>Täytä kentät ja tallenna matkasi painamalla Tallenna-painiketta</h4>


<form method="post" action="{{base_path}}/matka"> <br> 
    <div class="form-group">
        Kohdemaa*:<br>
    </div>
        <!--täytetään alasvetovalikko-->
        <select required name="country">
        {% for maa in maat%}
        <option value="{{maa.country}}">{{maa.country}}</option> 
        {% endfor%}
    </select>

                
    <!--<div class="form-group"><input type="hidden" name="owner_id" value="{{gamemaster_logged_in.id}}"></div>-->
    <div class="form-group"><input type="hidden" name ="hid"  value="{{user_logged_in.id}}"></div>                
   <div class="form-group"><input type = "hidden" name ="id" value="{{matka.id}}"></div>


    <div class="form-group">
        <label>Maahan saapumispäivämäärä*</label>
        <input name ="arrivaldate" class="form-control" type="date">
    </div>

    <div class="form-group">
        <label>Maasta poistumispäivämäärä*</label>
        <input name ="departuredate" class="form-control" type="date">
    </div>

    <div class="form-group">
        <label>Osoite</label>
        <input name ="address" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Postinumero</label>
        <input name ="postcode" class="form-control" type="text">
    </div>

    <div class="form-group">
        <label>Kaupunki tai maakunta</label>
        <input name ="city" class="form-control" type="text">
    </div>

    <div class="form-group">
        
        <button type="submit" class="btn btn-primary">Tallenna</button>
        <!--onclick="alert('Hello World!')">Click Me!</button>-->
    </div>
</form>

{% endblock %}