{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}


<!--
{%if message %}
<div class="alert alert-success">
{{message}}
</div>
{% endif %}
-->
  <h3>Valitse muokattava tai poistettava matka alla olevasta listasta:</h3>

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
 <form method="post" action="{{base_path}}/muokkaamatkaa/{{matka.id}}">  
    <!-- Tekstikenttä käyttäjätunnukselle -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Maa</th>
        <th>Saapumispäivä</th>
        <th>Lähtöpäivä</th>
        <th>Osoite</th>
        <th>Postinumero</th>
        <th>Kaupunki</th>
        <th>Muokkaa</th>
        <th>Poista</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan maat tähän -->
      {% for matka in matkat%}
      <tr>
        <!--<td><a href="{{base_path}}/matkalistaus/{{matkakohde.id}}">matka</a></td>-->
        <td>{{matka.id}}</td>
        <td>{{matka.country}}</td>
        <td>{{matka.arrivalDate}}</td>
        <td>{{matka.departureDate}}</td>
        <td>{{matka.address}}</td>
        <td>{{matka.postcode}}</td>
        <td>{{matka.city}}</td>
   
        <!--<td> <a href="{{base_path}}/matka" class="btn btn-default" role="button">Muokkaa</a></td>-->
        <td> <a href="{{base_path}}/muokkaamatkaa/{{matka.id}}" class="btn btn-default" role="button">Muokkaa</a></td>
       <!-- <td><button type = "submit" class="btn btn-danger" <a class="btn btn-default btn-sm" href="#">Poista</a></button></td>-->
       <td>{{forms.destroy_button("#{base_path}/matka/#{matka.id}")}}</td>
    
        <!--onclick="alert('Hello World!')">Click Me!</button>-->
     
            </tr>
      {%endfor%}
     
    </tbody>
  </table>

   </form>
{% endblock %}