{% extends "base.html" %}
{% block content %}
<h2>Muokkaa henkilön {{henkilo.familyname}} tietoja:</h2>


{%if message %}
<div class="alert alert-success">
{{message}}
</div>
{% endif %}


<form method="post" action="{{base_path}}/muokkaahenkiloa/{{henkilo.id}}">
<div class="form-group"><input type="hidden" name="id" value="{{henkilo.id}}"></div>

    
    <div class="form-group"> 
        <h4>Tähdellä (*) merkityt kohdat ovat pakollisia</h4>

        <div class="form-group">
            <label>Etunimet*</label>
            <input name ="firstnames" class="form-control" value="{{henkilo.firstnames}}" type="text">
        </div>
        <div class="form-group">
            <label>Sukunimi*</label>
            <input name ="familyname" class="form-control" value= "{{henkilo.familyname}}" type="text">
        </div>
        <div class="form-group">
            <label>Syntymäaika*</label>
            <input name=" dateofbirth"  class="form-control" value= "{{henkilo.dateofbirth}}" type="date">
        </div>


        <label>Sukupuoli</label><br>
     
            <div class="radio">  
            <!-- <input name ="gender" type="text" id="result" class="form-control"> -->
        <label><input type="radio" name="gender" value="Mies" {%if henkilo.gender=="Mies"%}checked{%endif%}>  Mies<br></label>
        </div>
        <div class="radio"> 
            <label><input type="radio" name="gender" value="Nainen"{%if henkilo.gender=="Nainen"%}checked{%endif%}>  Nainen<br></label>
        </div>
        <div class="radio"> 
            <label><input type="radio" name="gender" value="En ilmoita" {%if henkilo.gender=="En ilmoita"%}checked{%endif%}> En ilmoita  <br></label>
        </div>
 


        <h4>Kansalaisuus*</h4>

        <!--täytetään alasvetovalikko-->
        <select class ="c-select" name ="nationality"><option selected hidden >{{henkilo.nationality}}</option>
     <!--   <select required name="nationality">-->
            {% for maa in maat%}
            <!--<option value="{{maa.country}}">{{maa.country}}</option> -->
            <option name = "nationality" value ={{maa.country}}>{{maa.country}}</option> 


            {% endfor%}
        </select>
        <br><br>
        <div class="form-group">
            <label>Matkapuhelin</label>
            <input name ="mobilephone" type="text" value= "{{henkilo.mobilephone}}" class="form-control">
        </div>
        <div class="form-group">
            <label>sähköposti</label>
            <input name="email" type="text" value= "{{henkilo.email}}" class="form-control">
        </div>
        <!-- Tekstikenttä käyttäjätunnukselle -->
        <div class="form-group">
            <label>Käyttäjätunnus</label>
            <input name="username" type="text" class="form-control" value= "{{henkilo.username}}" ><!--name="username"  >-->
        </div>

        <div class="form-group">
            <label>salasana</label>
            <input name =" password" type="password" value= "{{henkilo.password}}" class="form-control">
        </div>
        <br>
        
      <label>Pääkäyttäjä</label><br>   
        
{% if henkilo.administrator ==1 %}

        <div class="radio">  
         
            <label><input type="radio" name="administrator" value="yes" checked>  Kyllä<br></label>
        </div>
        <div class="radio"> 
            <label><input type="radio" name="administrator" value="no" >  Ei<br></label>
        </div>

{% else %}
        
        <div class="radio">  
         
            <label><input type="radio" name="administrator" value="yes" >  Kyllä<br></label>
        </div>
        <div class="radio"> 
            <label><input type="radio" name="administrator" value="no" checked>  Ei<br></label>
        </div>

{%endif%}
       



        <br>
    <div>
        Kint::dump;
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>


</form>


{% endblock %}
