{% extends "base.html" %}
{% block content %}
<h2>Syötä henkilötiedot:</h2>

<!--{% if user_logged_in %}
<h1>Tervetuloa {{user_logged_in.username}}, {{user_logged_in.id}} </h1>
{%endif%}-->

<form method="post" action="{{base_path}}/henkilo">  


    <div class="form-group"> 
        <h4>Tähdellä (*) merkityt kohdat ovat pakollisia</h4>

        <div class="form-group">
            <label>Etunimet*</label>
            <input name ="firstnames" class="form-control" value="{{attributes.firstnames}}" type="text">
        </div>
        <div class="form-group">
            <label>Sukunimi*</label>
            <input name ="familyname" class="form-control" value= "{{attributes.familyname}}" type="text">
        </div>
        <div class="form-group">
            <label>Syntymäaika*</label>
            <input name=" dateofbirth"  class="form-control" value= "{{attributes.dateofbirth}}" type="date">
        </div>


        <label>Sukupuoli</label><br>
        <div class="radio">  
            <!-- <input name ="gender" type="text" id="result" class="form-control"> -->
            <label><input type="radio" name="gender" value="Mies">  Mies<br></label>
        </div>
        <div class="radio"> 
            <label><input type="radio" name="gender" value="Nainen">  Nainen<br></label>
        </div>
        <div class="radio"> 
            <label><input type="radio" name="gender" value="En ilmoita" checked> En ilmoita  <br></label>
        </div>

        <h4>Kansalaisuus*</h4>

        <!--täytetään alasvetovalikko-->
        <select required name="nationality">
            {% for maa in maat%}
            <option value="{{maa.country}}">{{maa.country}}</option> 


            {% endfor%}
        </select>
        <br><br>
        <div class="form-group">
            <label>Matkapuhelin</label>
            <input name ="mobilephone" type="text" value= "{{attributes.mobilephone}}" class="form-control">
        </div>
        <div class="form-group">
            <label>sähköposti</label>
            <input name="email" type="text" value= "{{attributes.email}}" class="form-control">
        </div>
        <!-- Tekstikenttä käyttäjätunnukselle -->
        <div class="form-group">
            <label>Käyttäjätunnus</label>
            <input name="username" type="text" class="form-control" value= "{{attributes.username}}" ><!--name="username"  >-->
        </div>

        <div class="form-group">
            <label>salasana</label>
            <input name =" password" type="password" value= "{{attributes.password}}" class="form-control">
        </div>
        <br>



        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Tallenna</button>
            <!--onclick="alert('Hello World!')">Click Me!</button>-->
        </div>


</form>



<!-- Kuvaus tulee tähän -->
<p>
   
</p>
{% endblock %}
