{% extends "base.html" %}
{% block content %}
  {% if user_logged_in %}
    <h1>Käyttäjä {{user_logged_in.username}} kirjautunut sisään</h1>
  {% endif %}
 <h3>Hae kohdemaassa nyt olevia matkalaisia:</h3>
 
<form method="post" action="{{base_path}}/haematka">  
    <div class="form-group">
       
        Kohdemaa*:<br>
        <!-- <input type="text" placeholder="Etunimet"> <br>-->

       <select required name="country">
          
            {% for maa in maat%}
  
           <option value="{{maa.country}}">{{maa.country}}</option> 
            {% endfor%}
        </select> 

    </div>
                
                 <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Etunimet</th>
        <th>Sukunimi</th>
        <th>Matkapuh.</th>
        <th>Sähköposti</th>
        <th>Kansalaisuus</th>
        <th>Kaupunki/maakunta</th>
        <th>Kohteeseen</th>
        <th>Kohteesta</th>
        <th>Poista</th>
        <th>Hae matkat</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan maat tähän -->
      {% for henkilo in matkalaiset%}
      <tr>
        <!--<td><a href="{{base_path}}/matkalistaus/{{matkakohde.id}}">matka</a></td>-->
        <td>{{henkilo.id}}</td>
        <td>{{henkilo.firstnames}}</td>
        <td>{{henkilo.familyname}}</td>
        <td>{{henkilo.mobilephone}}</td>
        <td>{{henkilo.email}}</td>
        <td>{{henkilo.nationality}}</td>
        <td>{{matka.city}}</td>
        <td>{{matka.arrivadate}}</td>
        <td>{{matka.departuredate}}</td>

        
        <td> <a href="{{base_path}}/muokkaahenkiloa/{{henkilo.id}}" class="btn btn-default" role="button">Muokkaa</a></td>
       <!-- Poistetaan henkilö ilman varmistuksia-->
     <td>{{forms.destroy_button("#{base_path}/henkilo/#{henkilo.id}")}}</td>
     <td> <a href ="{{base_path}}/henkilonmatkat/{{henkilo.id}}" class ="btn btn-info" role="button">Hae matkat</a></td>

      </tr>
        {% endfor%}

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Hae</button>
        <!--onclick="alert('Hello World!')">Click Me!</button>-->
    </div>
</form>

     {% endblock %}